body {

}


.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.schedule {
    border-collapse: collapse;
}
.schedule__date {
    font-size: 16px;
}
.schedule__th {
    border: 1px solid #E5E5E5;
    color: #9E9E9E;
}
.schedule__td {
    border: 1px solid #E5E5E5;
}