* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder { color: #9C8D8D; }
:-moz-placeholder { color: #9C8D8D; opacity: 1; }
::-moz-placeholder { color: #9C8D8D; opacity: 1; }
:-ms-input-placeholder { color: #9C8D8D; }

::-webkit-scrollbar {
  width: 3px; height: 3px;
  background: none;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #2f343a;
  background: rgba(47, 52, 58, .3);
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: #2f343a;
  background: rgba(47, 52, 58, .7);
}
::-webkit-scrollbar-button { display: none; }


html, body { height: 100%; }
body {
  background: #EBE7E2;
  color: #5A3523;
  font: normal 14px/1.33 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;

  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
input, select, textarea, button {
  font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
}

a { color: #3F9ADD; }
a:hover, a:focus { text-decoration: underline; }

.text {
  line-height: 1.5;
}
.text h3 {
  font-size: 16px; font-weight: bold;
  margin-bottom: 8px;
}
.text p { margin-bottom: 1em; }
.text li { margin-bottom: .5em; }
.text ul,
.text ol {
  margin: .5em 0 1.5em 24px;
}
.text ul ul,
.text ul ol,
.text ol ol,
.text ol ul {
  margin-bottom: 0;
}
.text ul { list-style: disc; }
.text ul ul { list-style: circle; }
.text ul ul ul { list-style: square; }
.text ol { list-style: decimal; }
.text dl { margin-bottom: 1em; }
.text dt { font-weight: bold; }
.text dd { margin-left: 8px; }
.text strong { font-weight: bold; }
.text em {
  color: #EE7023;
  font-style: normal;
}
.text i {
  font-style: italic;
}
.text mark {
  background-color: #FBF0E6;
}
.text hr { margin: 24px 0; border: none; border-top: 1px solid #eee; }
.text blockquote {
  padding: 0 0 0 24px;
  margin: 0 0 24px;
  border-left: 4px solid #eee;
}

.i::before {
  content: '';
  display: block;
  width: 24px; height: 24px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.i_disabled::before {
  opacity: .5;
}
.i_private::before { background-image: url('../img/icons/private.svg'); }
.i_institution::before { background-image: url('../img/icons/institution.svg'); }

.logo {
  position: relative;
  display: inline-block;
  width: 146px; height: 40px;
  background: url(/img/logo.png) no-repeat 0 50%;
  background-size: auto 24px;
}

.overlay {
  position: absolute; z-index: 1000;
}
.overlay__bg,
.overlay__loader {
  display: block;
  position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 2;
}
.overlay__bg {
  z-index: 1;
  background: #FFF;
  opacity: 0.7;
}
.overlay__ticker {
  position: absolute; top: 50%; left: 50%;
  margin: -3px 0 0 -20px;
}

.checklist {
  padding-top: 4px;
  padding-left: 8px;
}
.checklist__item {
  position: relative;
  padding-left: 12px;
  font-weight: 300;
  font-size: 0.813rem;
}
.checklist__item::before,
.checklist__item::after {
  content: '';
  display: block;
  position: absolute; left: 0;
  background: #FE5F1E;
  width: 8px; height: 2px;
  border-radius: 1px;
}
.checklist__item::before {
  top: 8px;
  transform: rotate(45deg);
}
.checklist__item::after {
  top: 8px;
  transform: rotate(135deg);
}
.checklist__item.checked::before {
  top: 8px;
  background: #007A42;
  transform: rotate(135deg);
}
.checklist__item.checked::after {
  top: 9px;
  left: -2px;
  background: #007A42;
  content: '';
  width: 5px; 
  transform: rotate(45deg);
}
.checked {
  color: #007A42;
}

.button {
  display: inline-block;
  padding: 12px 16px;
  min-width: 80px; height: 40px;
  border: 1px solid #E36255; border-radius: 4px;
  background: #fff;
  color: #E36255;
  font-size: 12px; font-weight: 600;
  line-height: 14px;
  vertical-align: middle;
  text-align: center; text-transform: uppercase; text-decoration: none;
  white-space: nowrap;
  cursor: pointer;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  -webkit-transition: background-color, border-color 0.3s linear;
          transition: background-color, border-color 0.3s linear;
}
.button:hover,
.button:focus,
.button:active {
  -webkit-box-shadow: 0 0 0 2px rgba(227, 98, 85, 0.2);
          box-shadow: 0 0 0 2px rgba(227, 98, 85, 0.2);

  text-decoration: none;
}
.button.disabled,
.button:disabled,
.button[disabled] {
  opacity: .3;
  cursor: default;
}
.button.disabled:hover,
.button:disabled:hover,
.button[disabled]:hover,
.button.disabled:active,
.button:disabled:active,
.button[disabled]:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button_stretch { width: 100%; }

.button_submit {
  border-color: transparent;
  background: #E36255;
  color: #FFF;
}
.button_submit:hover,
.button_submit:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(227, 98, 85, 0.2);
          box-shadow: 0 0 0 2px rgba(227, 98, 85, 0.2);
}
.button_submit.disabled,
.button_submit.disabled,
.button_submit:disabled,
.button_submit[disabled] {
  background-color: #D4C4BC;
  color: #FFF;

  -webkit-box-shadow: none;
          box-shadow: none;
}

.button_simple {
  background-color: transparent;
  border-color: transparent;
  color: #E36255;
}
.button_simple:hover,
.button_simple:focus,
.button_simple:active {
  background-color: rgba(114, 94, 94, .1);
  box-shadow: none;
}
.button_simple.disabled,
.button_simple.disabled,
.button_simple:disabled,
.button_simple[disabled] {
  border-color: #D4C4BC;
  background-color: transparent;
}

.button + .button {
  margin-top: 4px;
}

.field {
  position: relative;
  z-index: 1;
  padding: 10px 7px;
  border: 1px solid #D4C4BC;
  border-radius: 4px;
  background: #fff;
  color: #5a3523;
  font-size: 16px;
  line-height: 18px;

  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
          appearance: none;
}
.field:focus {
  border-color: #72605E;

  -webkit-box-shadow: 0 0 0 2px rgba(114, 96, 94, 0.2);
          box-shadow: 0 0 0 2px rgba(114, 96, 94, 0.2);
}
.field.invalid {
  border-color: #C5131C;
}
.field.invalid:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(197, 19, 28, 0.2);
          box-shadow: 0 0 0 3px rgba(197, 19, 28, 0.2);
}
.field[readonly],
.field[readonly]:focus,
.field:disabled,
.field:disabled:focus {
  border-color: #E5E5E5;
  color: #676767;
}
.field_stretch { width: 100%; }

.field-block {
  position: relative;
  margin-bottom: 16px; padding: 10px 0 4px 0;
  text-align: left;
}
.field-block_compact {
  padding: 0;
}
.field-block__label {
  display: block;
  position: absolute; top: 0; z-index: 2;
  padding: 0 4px;
  max-width: calc(100% - 8px);
  background: #FFF;
  color: #9C8D8D;
  font-size: 12px;
  line-height: 16px;
}
.field-block__label {
  left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.field-block__label.hidden {
  display: none;
}
.field-block__label_right {
  float: right;
}
.field-block .field.animate + .field-block__label {
  -webkit-transition: all ease-out 150ms;
          transition: all ease-out 150ms;
}
.field-block .field_empty + .field-block__label {
  font-size: 16px;

  -webkit-transform: translate3d(7px, 22px, 0);
          transform: translate3d(7px, 22px, 0);
}
.field-block .field_empty + .field-block__label {
  cursor: text;
}
.field-block .field:focus + .field-block__label {
  color: #72605E;
  font-size: 12px;

  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.field-block .field:focus + .field-block__label {
  cursor: default;
}
.field-block__hint,
.field-block__error {
  display: block;
  padding-top: 4px;
  /*position: absolute; right: 3px; bottom: -14px; left: 3px; z-index: 1;*/
  font-size: 12px;
  line-height: 16px;
  /*white-space: nowrap;*/
  text-align: right;
  /*text-overflow: ellipsis;
  overflow: hidden;*/
}
.field-block__hint { color: #999; }
.field-block__error { color: #E7391E; }
.field-block__error + .field-block__hint { display: none; }

.flash {
  position: fixed; top: 0; right: 0; left: 0; z-index: 200;
  padding: 12px 8px 8px;
  min-height: 46px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.flash_error {
  background: #C5131C;
  color: #FFF;
}
.flash_notice {
  background: #79B27D;
  color: #FFF;
}

.shield {
  position: relative; z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}
.shield__header {
  padding: 12px 0;
  border-radius: 8px 8px 0 0;
  text-align: center;
}
.shield__title {
  padding-top: 8px;
  font-size: 20px;
  font-weight: bold;
}
.shield__body {
  padding: 16px 24px 0;
}
.shield__body h1 {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.shield__body p {
  margin-bottom: 16px;
  text-align: center;
}
.shield__message {
  padding-bottom: 8px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}
.shield__footer {
  padding: 0 24px 24px;
  text-align: center;
}
.shield__container {
  position: relative;
  width: 400px;
  border-radius: 10px 10px 8px 8px;
  background: #FFF;
}
.shield-list {
  padding: 8px 0;
}
.shield-list__item {
  padding: 2px 0;
}
.shield-list__anchor {
  display: block;
  padding: 12px 32px;
  color: inherit;
}
.shield-list__anchor.i {
  position: relative;
  padding-left: 72px;
}
.shield-list__anchor.i::before {
  position: absolute; top: 8px; left: 32px;
}
.shield-list__anchor::after {
  content: '';
  position: absolute; top: 16px; right: 32px;
  width: 6px; height: 6px;
  border-right: 2px solid #5A3523;
  border-bottom: 2px solid #5A3523;
  transform: rotate(-45deg);
}
.shield-list__anchor:hover {
  background: #EBE7E2;
  text-decoration: none;
}
.shield-list__description {
  color: #9C8D8D;
  font-size: 12px;
}

@-webkit-keyframes stars {
  from  { transform: translateY(0); }
  to    { transform: translateY(-2000px); }
}
@-moz-keyframes stars {
  from  { transform: translateY(0); }
  to    { transform: translateY(-2000px); }
}
@-o-keyframes stars {
  from  { transform: translateY(0); }
  to    { transform: translateY(-2000px); }
}
@keyframes stars {
  from  { transform: translateY(0); }
  to    { transform: translateY(-2000px); }
}

#signin {
  margin: -67px auto 0;
  width: 350px;
}

@media only screen and (max-width: 640px) {
  .shield {
    padding: 0 16px;
  }
  .shield__container {
    width: 100%;
  }

  #signin {
    margin: -67px auto 0;
    padding: 0 16px;
    width: auto;
  }
}