<div id="excused_absences" class="modal-section modal-section_640">
  <div class="modal-section__header _modal_no _modal_holder">
    <h2 class="modal-section__title"><var:user_firstname> <var:user_lastname> / <var:group_name></h2>
  </div>
  <div class="modal-section__overflow _modal_o">
    <table class="data-table" width="100%">
      <thead class="data-table__thead data-table__thead_compact">
        <tr class="data-table__tr">
          <th class="data-table__th data-table__th_first">Periods</th>
          <th class="data-table__th data-table__th_last" width="1%"></th>
        </tr>
      </thead>
      <tbody class="data-table__tbody">
        <block:excused_absence>
        <tr class="data-table__tr">
          <td class="data-table__td data-table__td_first">
            <var:excused_absence_from> -
            <var:excused_absence_to>
          </td>
          <td class="data-table__td data-table__td_last<if:actions: data-table__td_actions: data-table__td_empty>">
            <if:actions>
            <ul class="actions-list">
              <li class="js_menu_parent actions-list__item">
                <a class="js_menu action- action_icon i i_menu i_only" href="#menu"></a>
                <ul class="menu menu_hidden">
                  <block:actions>
                  <li class="menu__item">
                      <a href="<var:path>" class="menu__anchor<if:class_name: :><var:class_name>"><var:title></a>
                  </li>
                  </block:actions>
                </ul>
              </li>
            </ul>
            </if:actions>
        </td>
        </tr>
        </block:excused_absence>
      </tbody>
    </table>
  </div>
</div>
