<block:lessons>
<li class="aside-nav__item<if:active: active:>">
    <a class="js_aside_nav_item aside-nav__anchor" href="<var:lesson_path>">
        <div class="nav-item">
            <div class="nav-item__title"><var:lesson_name></div>
            <div class="nav-item__description">
                <var:user_fullname>
            </div>
        </div>
    </a>
</li>
</block:lessons>
<ifnot:lessons>
<li class="aside-nav__empty"><msg:search.not_found></li>
</ifnot:lessons>