<form id="lesson_form" class="modal-section modal-section_480" method="post">
    <div class="modal-section__header _modal_no _modal_holder">
        <h2 class="modal-section__title"><var:title></h2>
    </div>

    <div class="modal-section__body _modal_o">
        <div class="field-block field-block_label">
            <input id="lesson_form_name" class="field field_stretch field-block__field" type="text" name="lesson_name" value="<var:lesson_name>">
            <label for="lesson_form_name" class="field-block__label">Nosaukums</label>
        </div>
        <div class="field-block field-block_label">
            <textarea id="lesson_form_description" class="field field_stretch field_textarea field-block__field" name="lesson_description" rows="2"><var:lesson_description></textarea>
            <label for="lesson_form_description" class="field-block__label">Apraksts</label>
        </div>
        <if:organization_users_options>
        <div class="field-block field-block_label">
            <select id="lesson_form_user" class="field field_select field_stretch field-block__field" name="user_id" autofocus>
                <option value=""></option>
                <block:organization_users_options>
                <option value="<var:value>"<if:selected: selected:>><var:name></option>
                </block:organization_users_options>
            </select>
            <label for="lesson_form_user" class="field-block__label">Skolotājs</label>
        </div>
        </if:organization_users_options>
    </div>

    <div class="modal-section__footer _modal_no">
        <a id="lesson_form_cancel" class="js_modal_close button button_simple" href="#cancel"><msg:action.cancel></a>
        <button class="button button_submit" type="submit">Saglabāt</button>
    </div>
</form>
<script>
(function(){
    $('#lesson_form_description').autogrow({min: 60});

    new app.Form('#lesson_form', {
        url: '<var:path>',
        keepOverlay: true,
        onSuccess: function(form, response){
            window.location.reload();
        }
    });
})();
</script>
