<form id="grade_form" class="modal-section modal-section_640">
  <div class="modal-section__header _modal_no _modal_holder">
    <h2 class="modal-section__title">Jauns vērtējums</h2>
  </div>
  <div class="modal-section__overflow _modal_o">
    <div class="modal-section__body">
      <div class="field-block field-block_label">
        <select id="grade_form_type" class="field field_select field_stretch field-block__field" name="grade_type" autofocus>
          <block:grade_type_options>
          <option value="<var:value>"<if:selected: selected:>><var:name></option>
          </block:grade_type_options>
        </select>
        <label for="grade_form_type" class="field-block__label">Atzimes veids</label>
      </div>
    </div>
    <table class="data-options" width="100%">
      <thead>
        <tr>
          <td class="data-options__th data-options__th_first data-options__th_last" colspan="2">
            Atzimes
          </td>
        </tr>
      </thead>
      <tbody>
        <block:users>
        <tr class="data_row data-options__tr">
          <td class="data-options__td data-options__td_first data-options__td_title">
            <var:user_firstname> <var:user_lastname>
          </td>
          <td class="data-options__td data-options__td_last data-options__td_input" width="20%">
            <select class="js_grades field field_select field_stretch" name="grades[<var:user_id>]" data-value="<var:grade>">
              <option value=""></option>
            </select>
          </td>
        </tr>
        </block:users>
      </tbody>
    </table>
  </div>
  <div class="modal-section__footer _modal_no">
    <a id="grade_form_cancel" class="js_modal_close button button_simple" href="#cancel"><msg:action.cancel></a>
    <button class="button button_submit" type="submit">Saglabāt</button>
  </div>
</form>
<script>
(function(){

  var $grades = $('.js_grades');

  function populateNumeric() {
    $grades.each(function(){
      var options = [],
          value   = $(this).data('value');

      for (var i = 0; i <= 10; i++) {
        options.push(
          '<option value="' + i + '"' + (value == i ? ' selected' : '') + '>' +
            (i === 0 ? 'n/v' : i) +
          '</option>'
        );
      }

      $(this).html(options.join(' '));
    });
  }

  function popilatPercent() {
    $grades.each(function(){
      var options = [],
          value   = $(this).data('value');

      for (var i = 0; i <= 100; i++) {
        options.push(
          '<option value="' + i + '"' + (value == i ? ' selected' : '') + '>' +
            i +
          '</option>'
        );
      }

      $(this).html(options.join(' '));
    });
  }

  function popilatIncluded() {
    $grades.each(function(){
      var options = [],
          value   = $(this).data('value');

      options.push(
        '<option value="1"' + (value === '1' ? ' selected' : '') + '>i</option>'
      );
      options.push(
        '<option value="0"' + (value === '0' ? ' selected' : '') + '>ni</option>'
      );

      $(this).html(options.join(' '));
    });
  }

  $('#grade_form_type').on('change pick', function(){
    var type = $(this).val();

    if (type === 'included') {
      popilatIncluded();
    } else if (type === 'percent') {
      popilatPercent();
    } else {
      populateNumeric();
    }
  }).trigger('pick');

  new app.Form('#grade_form', {
    url: '<var:path>',
    keepOverlay: true,
    onSuccess: function(form, response){
      window.location.reload();
    }
  });
})();
</script>
