<div class="shield">
  <form id="signin_form" class="shield__container" method="post">
    <div class="shield__header">
      <a class="logo" href="/"></a>
    </div>
    <div class="shield__body">
      <div class="field-block field-block_compact">
        <input id="signin_user" class="field field_stretch field-block__field" type="text" name="email" placeholder="<msg:signin.email>" autocomplete="off" autofocus>
      </div>
      <div class="field-block field-block_compact">
        <input id="signin_pass" class="field field_stretch field-block__field" type="password" name="password" placeholder="<msg:signin.password>" autocomplete="off">
      </div>
    </div>
    <div class="shield__footer">
      <button class="button button_submit button_stretch" type="submit"><msg:action.signin></button>
      <a href="/signup" class="button button_simple button_stretch"><msg:action.signup></a>
    </div>
  </form>
</div>
<script>
(function(){
  new app.Form('#signin_form', {
    url: '/signin',
    keepOverlay: true,
    onSuccess: function(form, response){
      window.location.reload();
    }
  });
})();
</script>