<div class="shield">
  <form id="signin_form" class="shield__container" method="post">
    <div class="shield__header">
      <h1 class="logo"><var:title></h1>
    </div>
    <div class="shield__body">
      <div class="field-block">
        <input id="signin_user" class="field field_stretch field-block__field" type="text" name="email" value="" autocomplete="off" autofocus>
        <label for="signin_user" class="field-block__label"><msg:signin.email></label>
      </div>
      <div class="field-block">
        <input id="signin_pass" class="field field_stretch field-block__field" type="password" name="password" autocomplete="off">
        <label for="signin_pass" class="field-block__label"><msg:signin.password></label>
      </div>
    </div>
    <div class="shield__footer">
      <button class="button button_commit" type="submit"><msg:signin.submit></button>
      <a href="/signup" class="button button_simple">Sign up</a>
    </div>
  </form>
</div>
<script>
(function(){
  new app.Form('#signin_form', {
    url: '/signin',
    keepOverlay: true,
    onSuccess: function(form, response){
      window.location.reload();
    }
  });
})();
</script>