<header class="main-header">
  <a href="/" class="main-header__logo">Logo</a>
  <!-- <nav class="main-header__nav">
    <a href="/" class="main-header__button">Sign in</a>
  </nav> -->
</header>
<form id="registration_form" class="main-form" method="post">
  <h2 class="main-form__header">Reģistrēties</h2>
  <div class="field">
    <input class="field__input" type="text" name="user_firstname" placeholder="Vārds">
  </div>
  <div class="field">
    <input class="field__input" type="text" name="user_lastname" placeholder="Uzvārds">
  </div>
  <div class="field">
    <input class="field__input" type="text" name="user_email" placeholder="E-pasts">
  </div>
  <div class="field">
    <input class="field__input" type="password" name="user_password" placeholder="Parole">
  </div>
  <div class="field">
    <input class="field__input" type="password" name="user_password_repeat" placeholder="Apstiprini paroli">
  </div>
  <button class="main-form__button">LOG IN</button>
</form>
<script>
(function(){
  new app.Form('#registration_form', {
    url: '/signup',
    keepOverlay: true,
    onSuccess: function(form, response){
      window.location.href = '/';
    }
  });
})();
</script>