<div class="error-page error-page_403">
  <div class="error-page__body">
    <i class="error-page__code">403</i>
    <h1 class="error-page__title"><msg:http_error.error_403.title></h1>
    <p class="error-page__description"><msg:http_error.error_403.description></p>
  </div>
</div>