<div class="error-page error-page_404">
  <div class="error-page__body">
    <i class="error-page__code">404</i>
    <h1 class="error-page__title"><msg:http_error.error_404.title></h1>
    <p class="error-page__description"><msg:http_error.error_404.description></p>
  </div>
</div>