<!DOCTYPE html>
<html lang="<var:locale>">
<head>
    <meta charset="utf-8">
    <title><var:title></title>
    <block:meta>
    <meta name="<var:name>" content="<var:content>">
    </block:meta>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="<var:title>">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="/css_<var:assets_version>/reset.css" media="screen" type="text/css" rel="stylesheet">
    <link href="/css_<var:assets_version>/public.css" media="screen" type="text/css" rel="stylesheet">
    <script src="/js_<var:assets_version>/jquery.js"></script>
    <script src="/js_<var:assets_version>/jquery.ui.min.js"></script>
    <script src="/js_<var:assets_version>/modal.js"></script>
    <script src="/js_<var:assets_version>/application.js"></script>
</head>
<body>
<body class="main">
<var:body:r>
</body>
</html>