<!DOCTYPE html>
<html lang="<var:locale>">
<head>
  <meta charset="utf-8">
  <title><var:title></title>
<block:meta>
  <meta name="<var:name>"<if:property> property="<var:property>"</if:property><if:itemprop> itemprop="<var:itemprop>"</if:itemprop><if:content> content="<var:content>"</if:content>>
</block:meta>
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#8D837B">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="theme-color" content="#FFFFFF">
  <link rel="manifest" href="/manifest.json">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
  <meta name="msapplication-config" content="/browserconfig.xml"> -->
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link href="/css_<var:assets_version>/reset.css" media="screen" type="text/css" rel="stylesheet">
  <link href="/css_<var:assets_version>/modal.css" media="screen" type="text/css" rel="stylesheet">
  <link href="/css_<var:assets_version>/jquery.ui.custom.css" media="screen" type="text/css" rel="stylesheet">
  <link href="/css_<var:assets_version>/application.css" media="screen" type="text/css" rel="stylesheet">
  <script src="/js_<var:assets_version>/jquery.js"></script>
  <script src="/js_<var:assets_version>/jquery.ui.min.js"></script>
  <script src="/js_<var:assets_version>/modal.js"></script>
  <script src="/js_<var:assets_version>/application.js"></script>
</head>
<body>
<body>
<header class="header">
    <a href="/" class="header__logo">Logo</a>
    <nav class="header__nav">
      <ul class="nav">
        <block:header_nav>
        <li class="nav__item">
          <a href="<var:path>" class="nav__anchor<if:active: active:>"><var:name></a>
        </li>
        </block:header_nav>
      </ul>
    </nav>
  </header>
  <aside id="menu" class="user-menu">
    <a id="burger" class="burger" href="#menu"><div></div></a>
    <block:current_user>
    <div class="user">
      <div class="user__avatar">
        <img src="/img/avatar.jpeg" height="40">
      </div>
      <div class="user__title"><var:firstname> <var:lastname></div>
    </div>
    </block:current_user>
    <nav class="aside-nav"> 
      <ul class="aside-nav__list">
        <li class="aside-nav__item">
          <a href="/conversations" class="aside-nav__anchor aside-nav__anchor_icon icon icon_mail">Saziņa</a>
        </li>
        <li class="aside-nav__item">
          <a href="/profile" class="aside-nav__anchor aside-nav__anchor_icon icon icon_setting js_modal">Uzstādījumi</a>
        </li>
        <li class="aside-nav__item">
          <a id="notification_badge" href="#notification_lates" class="aside-nav__anchor aside-nav__anchor_icon icon icon_notification" data-url="/notifications/latest">Notifikācijas<if:lesson_invites:*:></a>
          <div id="notification_lates" class="nontification-tabs hidden-">
            <ul class="tabs">
              <li class="tabs__item">
                <a href="#nontification_grades" class="tabs__anchor active">Jaunākās atīmes</a>
              </li>
              <li class="tabs__item">
                <a href="#nontification_messages" class="tabs__anchor">Jaunākie ziņojumi</a>
              </li>
            </ul>
            <div class="tabs-content">
              <div id="nontification_grades" class="tabs-content__item">
                <ul class="nontifications-list">
                  <li class="nontifications-list__item">
                    <a href="" class="nontification">
                      <div class="nontification__name">Angļu valoda</div>
                      <div class="nontification__work">
                        Mācību stunda
                        <div class="nontification__date">17.11.</div>
                      </div>
                      <div class="nontification__grade">9</div>
                    </a>
                  </li>
                  <li class="nontifications-list__item">
                    <a href="" class="nontification">
                      <div class="nontification__name">Matemātika</div>
                      <div class="nontification__work">
                        Mācību stunda
                        <div class="nontification__date">17.11.</div>
                      </div>
                      <div class="nontification__grade">n/v</div>
                    </a>
                  </li>
                  <li class="nontifications-list__item">
                    <a href="" class="nontification">
                      <div class="nontification__name">Latviešu valoda</div>
                      <div class="nontification__work">
                        Mācību stunda
                        <div class="nontification__date">30.11.</div>
                      </div>
                      <div class="nontification__grade">2</div>
                    </a>
                  </li>
                </ul>
              </div>
              <div id="nontification_messages" class="tabs-content__item hidden">
                <ul class="nontifications-list">
                  <block:lesson_invites>
                  <li class="nontifications-list__item">
                    <div class="nontification">
                      <div class="nontification__name">Ielugums <var:lesson_name></div>
                      <div class="nontification__work">
                        <var:user_firstname> <var:user_lastname>
                      </div>
                      <div class="nontification__button">
                        <a href="/lessons/invites/<var:lesson_invite_id>/decline" class="button_red">Decline</a>
                        <a href="/lessons/invites/<var:lesson_invite_id>/accept" class="button_green">Accept</a>
                      </div>
                    </div>
                  </li>
                  </block:lesson_invites>
                  <li class="nontifications-list__item">
                    <a href="" class="nontification">
                      <div class="nontification__name">Algoritmēšanas un programmēšanas pamati</div>
                      <div class="nontification__work">
                        Mācību stunda
                        <div class="nontification__date">04.05.</div>
                      </div>
                    </a>
                  </li>
                  <li class="nontifications-list__item">
                    <a href="" class="nontification">
                      <div class="nontification__name">Latviešu valoda</div>
                      <div class="nontification__work">
                        Mācību stunda
                        <div class="nontification__date">17.11.</div>
                      </div>
                    </a>
                  </li>
                  <li class="nontifications-list__item">
                    <a href="" class="nontification">
                      <div class="nontification__name">Datu bāzes programmēšana</div>
                      <div class="nontification__work">
                        Mācību stunda
                        <div class="nontification__date">23.11.</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="aside-nav__item">
          <a href="/signout" class="aside-nav__anchor aside-nav__anchor_icon icon icon_exit">Iziet</a>
        </li>
      </ul>
    </nav>
  </aside>
  <var:body:r>
  <script>
    $('.tabs__anchor').click(function(event){ 
      event.preventDefault();

      $('.tabs__anchor').removeClass('active');

      $(this).addClass('active');

      $('.tabs-content__item').addClass('hidden');

      $(this.hash).removeClass('hidden');




    });
    $('#notification_badge').click(function(event){
      event.preventDefault();

      var $this      = $(this),
          $container = $(this.hash),
          $burger    = $('#burger'),
          url        = null; //$this.data('url');

      if ($this.hasClass('active')) {
        $container.slideUp();
        $this.removeClass('active');
      } else {
        if (!$burger.hasClass('active')) {
          $burger.trigger('click');
        }

        if (url) {
          $this.data('url', null);

          $.get(url, function(html){
            $container.html(html);
            $container.slideDown();
            $this.addClass('active');
          });
        } else {
          $container.slideDown();
          $this.addClass('active');
        }
      }
    });

    $('#burger').click(function(event){
      event.preventDefault();

      var $button = $(this);
      var $conteiner = $(this.hash);

      if ($button.hasClass('active')) {
        $button.removeClass('active');
        $conteiner.removeClass('active');
      } else {
        $button.addClass('active');
        $conteiner.addClass('active');
      }
    });
  </script>
</body>
</html>