<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body style="background: #EBE7E2; margin: 0; padding: 0;">
<table width="100%" height="100%" align="center" cellpadding="0" cellspacing="0" border="0" style="background: #EBE7E2;">
  <tr>
    <td valign="top">
      <table align="center" cellpadding="32" cellspacing="0" border="0">
        <tr>
          <td width="764" style="padding:32px;">
            <div style="padding: 8px; border-radius: 8px; background-color: #FFF; color: #5A3523;">
              <table width="100%" cellpadding="16" cellspacing="0" border="0" style="background-color: #FFF; color: #5A3523; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;">
                <tr>
                  <td align="center" style="padding: 32px 16px;">
                    <table cellpadding="0" cellspacing="0" border="0" style="color: #EE7023; font-size: 18px; font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;">
                      <tr>
                        <td>
                          <if:is_embeded_logo>
                          <!-- <img src="cid:logo" height="32" style="height: 32px;"> -->
                          </if:is_embeded_logo>
                          <ifnot:is_embeded_logo>
                          </ifnot:is_embeded_logo>
                        </td>
                      </tr>
                    </table>
                    <br>
                    <br>
                    <var:body:r>
                  </td>
                </tr>
              </table>
            </div>
            <table width="100%" cellpadding="16" cellspacing="0" border="0" style="color: #9C8D8D; font-size: 12px; font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;">
              <tr>
                <td align="center" style="padding:16px;">
                  <msg:mail.footer>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>