<button id="toggle_aside" class="floating-action floating-action_hide" type="button">
    <span class="floating-action__icon"></span>
</button>
<div id="content" class="layout__content">
  <block:lesson_visits>
  <section class="box-section">
    <div class="js_toggle_parent box-section__header active">
      <if:group_id>
      <h2 class="h2 h2_toggle"><a class="js_toggle toggle active" href="#grades_<var:group_id>"><var:group_name>, <var:organization_name></a></h2>
      </if:group_id>
      <ifnot:group_id>
      <h2 class="h2 h2_toggle"><a class="js_toggle toggle active" href="#grades_">Privātnodarbības</a></h2>
      </ifnot:group_id>
    </div>
    <div id="visits_<var:group_id>" class="box box_data">
      <div class="box__overflow">
        <table class="data-table" width="100%">
          <thead class="data-table__thead">
            <tr class="data-table__tr">
              <th class="data-table__th data-table__th_first data-table__th_sticky" width="32%"></th>
              <block:months>
              <th class="data-table__th data-table__th_separate data-table__th_center"><var:month></th>
              </block:months>
              <th class="data-table__th data-table__th_last data-table__th_sticky_right">Kopā</th>
            </tr>
          </thead>
          <tbody class="data-table__tbody">
            <block:lessons>
            <tr class="data-table__tr">
              <td class="data-table__td data-table__td_first data-table__td_sticky"><var:lesson_name></td>
              <block:visits>
              <td class="data-table__td data-table__td_separate data-table__td_center data-table__td_nowrap">
                <if:lesson_count>
                <var:lesson_count>
                </if:lesson_count>
                <ifnot:lesson_count>
                <span class="minor"><var:lesson_count></span>
                </ifnot:lesson_count>
                <span class="minor">/</span>
                <if:group_id>
                <if:unjustified_count>
                <span class="red"><var:unjustified_count></span>
                </if:unjustified_count>
                <ifnot:unjustified_count>
                <span class="minor"><var:unjustified_count></span>
                </ifnot:unjustified_count>
                <span class="minor">/</span>
                <if:justified_count>
                <span class="green"><var:justified_count></span>
                </if:justified_count>
                <ifnot:justified_count>
                <span class="minor"><var:justified_count></span>
                </ifnot:justified_count>
                </if:group_id>
                <ifnot:group_id>
                <if:absences_count>
                <span class="red"><var:absences_count></span>
                </if:absences_count>
                <ifnot:absences_count>
                <span class="minor"><var:absences_count></span>
                </ifnot:absences_count>
                </ifnot:group_id>
              </td>
              </block:visits>
              <td class="data-table__td data-table__td_last data-table__td_nowrap data-table__td_sticky_right">
                <if:lesson_count>
                <var:lesson_count>
                </if:lesson_count>
                <ifnot:lesson_count>
                <span class="minor"><var:lesson_count></span>
                </ifnot:lesson_count>
                <span class="minor">/</span>
                <if:group_id>
                <if:unjustified_count>
                <span class="red"><var:unjustified_count></span>
                </if:unjustified_count>
                <ifnot:unjustified_count>
                <span class="minor"><var:unjustified_count></span>
                </ifnot:unjustified_count>
                <span class="minor">/</span>
                <if:justified_count>
                <span class="green"><var:justified_count></span>
                </if:justified_count>
                <ifnot:justified_count>
                <span class="minor"><var:justified_count></span>
                </ifnot:justified_count>
                </if:group_id>
                <ifnot:group_id>
                <if:absences_count>
                <span class="red"><var:absences_count></span>
                </if:absences_count>
                <ifnot:absences_count>
                <span class="minor"><var:absences_count></span>
                </ifnot:absences_count>
                </ifnot:group_id>
              </td>
            </tr>
            </block:lessons>
          </tbody>
        </table>
      </div>
      <div class="box__footnote">
        <if:group_id>
        Nodarbības / <span class="red">Neattaisnoti</span> / <span class="green">Attaisnoti</span>
        </if:group_id>
        <ifnot:group_id>
        Nodarbības / <span class="red">Kavējumi</span>
        </ifnot:group_id>
      </div>
    </div>
  </section>
  </block:lesson_visits>
  <ifnot:lesson_visits>
  <div class="empty-block">Nav kavējumu</div>
  </ifnot:lesson_visits>
</div>