<block:groups>
<div class="title"><var:group_name></div><br>
<block:dates>
<table  class="schedule" width="100%" style="font-size: 12px; page-break-inside: avoid;" autosize="1">
    <tr>
        <td class="schedule__date"><var:date></td>
        <td></td>
    </tr>
    <tr>
        <td class="schedule__th" width="20%">Laiks</td>
        <td class="schedule__th">Priekšmets</td>
        <td class="schedule__th" width="30%">Skolotājs</td>
    </tr>
    <block:time>
    <tr>
        <td class="schedule__td">
            <table width="100%">
                <tr>
                    <td width="20"><var:lesson_time_number></td>
                    <td><var:lesson_time_start_at> - <var:lesson_time_end_at></td>
                </tr>
            </table>
        </td>
        <td class="schedule__td">
            <var:lesson_name>
        </td>
        <td class="schedule__td">
            <var:user_fullname>
        </td>
    </tr>
    </block:time>
</table>
<br>
</block:dates>
<pagebreak>
</block:groups>