<form id="schedule_group_lesson_form" class="modal-section modal-section_480" method="post">
    <input type="hidden" name="schedule_date" value="<var:schedule_date>">
    <div class="modal-section__header modal-section__header_compact _modal_no _modal_holder">
        <h2 class="modal-section__title">Pievienot nodarbibu</h2>
        <div class="modal-section__description">
            <var:group_name>, <var:schedule_date_formatted>
            <block:lesson_time>
            <input type="hidden" name="lesson_time_id" value="<var:lesson_time_id>">
            (<var:lesson_time_start_at> - <var:lesson_time_end_at>)
            </block:lesson_time>
        </div>
    </div>

    <div class="modal-section__body _modal_o">
        <div class="field-block field-block_label">
            <select id="schedule_group_lesson_form_name" class="field field_select field_stretch field-block__field" name="lesson_id" autofocus>
                <option value=""></option>
                <block:lesson_options>
                <option value="<var:value>"<if:selected: selected:>><var:name></option>
                </block:lesson_options>
            </select>
            <label for="schedule_group_lesson_form_name" class="field-block__label">Prieksmeti</label>
        </div>
    </div>

    <div class="modal-section__footer _modal_no">
        <a id="lesson_form_cancel" class="js_modal_close button button_simple" href="#cancel"><msg:action.cancel></a>
        <button class="button button_submit" type="submit">Pievienot</button>
    </div>
</form>
<script>
(function(){
  new app.Form('#schedule_group_lesson_form', {
    url: '<var:path>',
    keepOverlay: true,
    onSuccess: function(form, response){
      window.location.reload();
    }
  });
})();
</script>