<div class="shield">
    <form id="organization_form" class="shield__container" method="post">
        <div class="shield__header">
            <h1 class="shield__title">Jauna organizācija</h1>
        </div>
        <div class="shield__body">
            <div class="field-block field-block_label">
                <input id="organization_form_name" class="field field_stretch field-block__field" type="text" name="organization_name" autofocus>
                <label for="organization_form_name" class="field-block__label">Organizācijas nosaukums</label>
            </div>
        </div>
        <div class="shield__footer">
            <button class="button button_submit button_stretch" type="submit"><msg:action.create></button>
            <a href="/" class="button button_simple button_stretch">Atcelt</a>
        </div>
    </form>
</div>
<script>
(function(){
  new app.Form('#organization_form', {
    url: '/organizations/create',
    keepOverlay: true,
    onSuccess: function(form, response){
      window.location.href = '/organizations/users';
    }
  });
})();
</script>